@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.employees{
	border: solid black 1px;
	height: 600px;
	width: 900px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
}
.searchbar{
	margin-top:30px;
}
.search{
	margin-left: 20px;
}
.addemp{
	margin-left: 180px;
}

.popup{
	background-color:black;
	color:white;
	position:absolute;
	opacity:0;
	box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
	border-radius:10px;
	padding-bottom: 30px;
	padding-top:20px;
	top:400%;
	transform:translate(-50%,-50%) scale(1.25);
	transition:top 0ms ease-in-out 200ms,
			   opacity 200ms ease-in-out 0ms,
			   transform 200ms ease-in-out 0ms;
}
.popup:active{
	opacity:1;
	transform:translate(-50%,-50%) scale(1.5);
	transition:top 0ms ease-in-out 0ms,
			   opacity 200ms ease-in-out 0ms,
			   transform 200ms ease-in-out 0ms;
}
.heading-emp{
	margin-top: 10px;
	margin-left: 30px;
	text-align:center;
	padding-bottom:10px;
}
.close{
	margin-left:110px;
	margin-top:10px;
	color:white;
}

register{
    background-color: blue;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right:50px;
}
.btnRegister{
    margin-top: 30px;
    padding: 8px 18px 8px 18px;
    border-radius: 30px;
}

/*retrieve table data*/
h1{
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
    border-radius: 10px;
    margin: auto;
}
th,td{
    border:1px solid #f2f2f2;
    padding: 8px 30px;
    text-align: center;
    color: gray;
}
th{
    text-transform: uppercase;
    font-weight: 500;
}
td{
    font-size: 13px;
}
fa{
    font-size: 18px;
}
.fa-edit{
    color: #63c76a;
}
.fa-trash{
    color: #ff0000;
}

/* footer code start */

footer {
  background-color: #3f3f3f;
  color: white;
  padding: 2rem;
  color: #444444;
  font-size: 14px;
  background: #d4d4d4;
}

footer a {
  color: #d5d5d5;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #777777;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009970;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00805d;
  color: #fff;
  text-decoration: none;
}

/* footer code ends */